body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto 20px auto;
}

form input, form textarea, form button {
    margin: 5px 0;
    padding: 10px;
}

#itemsList {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

#itemsList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#itemsList button {
    margin-left: 10px;
}

